/**
	Especificaciones CSS para el juego del solitario 
*/

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

img#logo {
	height: auto;
	width: 100px;
}

img.carta {
    position: absolute;
    transition: all 0.3s;
	cursor: pointer;
}

.central {
	text-align: center;
}

.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
}


/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores{ 
	text-align: center; 
}

/* Mesa que contiene a los tapetes centrados */
div#mesa{
	text-align: center;
	margin:20px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	display: inline-block;
	position: relative;
	margin: 10px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 340px;
	height: 340px;			
	background-color: lightgrey;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){				
	height: 125px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
	background-color: lightblue;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	background-color: lightgreen;
}

/* */

#control-volumen {
    display: flex;
    align-items: center;
    margin: 10px;
}

/* */

#barra-volumen {
    width: 150px;
    margin-left: 10px;
}

/* Eliminar borde de botón al pausado de música */

#play-pause {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer; 
    outline: none; 
    padding: 5px;
    transition: transform 0.2s;
}

/* Ampliar el boton cuando se pasa por encima de él */

#play-pause:hover {
    transform: scale(1.2);
}
